<%- include('../../partials/_header.ejs') %>

<h1>Home - Intro</h1>
<h2>Nous sommes le : <%=today%></h2>
<img src="images/favicon.ico" alt="google favicon" />
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, adipisci
  dolor ex blanditiis aperiam, tenetur, esse nisi voluptatem dicta quia rerum
  commodi alias praesentium sequi necessitatibus quaerat magni error officiis!
</p>

<%- include('../../partials/_footer.ejs') %>
